[Desktop Entry]
Encoding=UTF-8
Name=Link to Intelligent IF :: Constant-time Support Vector Machines
Type=Link
URL=https://markov.tistory.com/47
Icon=text-html
