[Desktop Entry]
Encoding=UTF-8
Name=Link to LIBLINEAR -- A Library for Large Linear Classification
Type=Link
URL=https://www.csie.ntu.edu.tw/~cjlin/liblinear/
Icon=text-html
