[Desktop Entry]
Encoding=UTF-8
Name=Link to sklearn.svm.SVC — scikit-learn 0.21.3 documentation
Type=Link
URL=https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html#sklearn.svm.SVC.get_params
Icon=text-html
